{% load static %}
<html>
    <head>
          <meta content="width=device-width, initial-scale=1.0" name="viewport">
        {% block page_info %}
        {% endblock %}
        <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet" type="text/css">

    </head>

    <body>
        {% block content %}
        {% endblock %}
    </body>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    {% block js_scripts %}
    {% endblock %}
</html>