{% load static %}
<html>
    <head>
          <meta content="width=device-width, initial-scale=1.0" name="viewport">
        {% block page_info %}
        {% endblock %}
        <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet" type="text/css">

    </head>

    <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">BotClicker</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="/">Accueil</a>
                <a class="nav-link" href="/stat">Statistiques</a>
                <a class="nav-link" href="/execution/">Execution</a>
                  <a class="nav-link" href="/execution-ads/">Execution Ads</a>
                  <a class="nav-link" href="/execution-auto/">Execution Auto</a>
                <a class="nav-link" href="/admin/">Admin</a>

              </div>
            </div>
          </div>
    </nav>
        {% block content %}
        {% endblock %}
    </body>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    {% block js_scripts %}
    {% endblock %}
</html>