{% extends 'gui/base.html' %}
{% load static %}

    {% block page_info %}
        <title>Execution du bot</title>
    {% endblock %}

    {% block content %}
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-8 card mx-auto">
                    <h1 class="text-center">Accueil BotClicker</h1>
                    <blockquote>Lancement du bot, mode d'emploi
                        <ul>
                            <li>Page exécution: lancement unitaire sur une seule requête avec un proxy</li>
                            <li>Page exécution auto : Planification d'un lancement avec une liste de mots clés (appuyer sur ctrl +
                                selectionner les mots clés choisis)</li>
                            <li>Page admin: ajouter des requetes, des proxy, supervision ...</li>
                            <li>Page statistique: visualiser les dernières exécutions du bot</li>
                        </ul>
                    </blockquote>
                </div>
            </div>
        </div>
    {% endblock %}